.header {
  width: 100%;
  height: auto;
  transition: var(--quick-fx);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__topside {
  width: 100%;
  height: 20px;
  background: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--border-color);
}
.header__topside--links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--only-light-color);
  transition: var(--quick-fx);
}
.header__topside--links:hover {
  color: var(--only-negative-color);
  filter: drop-shadow(0 0 2px var(--retrogallery-custom-colorpick));
}
.header__topside--links_icons {
  height: 90%;
  margin-right: 5px;
  filter: invert(1);
}
.header__main {
  width: 100%;
  height: 60px;
  background: var(--header-background);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}
.header__main--link {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__main--link_logo {
  width: auto;
  height: 50px;
  filter: invert(1) drop-shadow(0 0 5px rgb(0, 0, 0));
}
.header__main--search {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__main--search_bar {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--soft-border-color);
  padding: 0px 50px 0px 20px;
  color: var(--dark-bg-color);
}
.header__main--search_button {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-weight: var(--bold-font-weight);
  transition: var(--quick-fx);
  filter: opacity(0.5);
}
.header__main--search_button:hover {
  scale: 1.1;
  filter: invert(1) drop-shadow(0px 0px 5px var(--selected-text-color)) opacity(1);
}
.header__main--pref {
  width: 120px;
  height: 70%;
  border: none;
  border-right: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}
.header__main--pref_lightmode {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--border-color);
  filter: drop-shadow(0 0 5px var(--default-bg-color));
  background-color: var(--only-light-color);
}
.header__main--pref_lightmode-icon {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__main--pref_langbar {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
}
.header__main--pref_langbar-options {
  background-color: var(--default-bg-color);
}
.header__main--userpanel {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.header__main--userpanel_profile {
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__main--userpanel_profile-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 100%;
}
.header__main--userpanel_profile-login {
  color: var(--only-negative-color);
}
.header__main--userpanel_profile-name {
  width: 120px;
}
.header__main--userpanel_dropdown {
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0px 15px 40px;
  gap: 15px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 170px;
  height: auto;
  border: 1px solid var(--border-color);
  background-color: var(--default-bg-color);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.header__main--userpanel_dropdown-buttons {
  color: var(--default-text-color);
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.header__main--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
}
.header__main--buttons_icon {
  height: 90%;
}/*# sourceMappingURL=Header.css.map */