.header {
    width: 100%;
    height: auto;
    transition: var(--quick-fx);
    &__topside {
        height: 20px;
        background: var(--dark-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        text-transform: uppercase;
        @media only screen and (max-width: 1199px) { // desktop
            gap: 40px;
        }
        @media only screen and (max-width: 991px) { // tablet
            gap: 30px;
        }
        @media only screen and (max-width: 767px) { // mobile
            gap: 20px;
        }
        @media only screen and (max-width: 575px) { // extra small device
            gap: 10px;
        }
        &--links {
            color: var(--smoke-color);
            transition: var(--quick-fx);
            &:hover {
                color: var(--smoke-hover-color);
            }
        }
    }
    &__main {
        width: auto;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &--logoplace {
            width: auto;
            height: 100%;
            border: 1px solid red;
            &_logo {
                width: auto;
                height: 50px;
            }
        }
        &--search {
            width: 25%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &_bar {
                width: 90%;
                height: 30px;
                border-radius: 15px;
                outline: none;
                padding: 0px 50px 0px 20px; // top right bottom left
            }
            &_button {
                position: absolute;
                top: 10px;
                right: 30px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                // opacity: 0.5;
                border: none;
                background-color: transparent;
                font-weight: var(--bold-font-weight);
            }
        }
        &--pref {
            width: 5%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &_lightmode {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
            &_langbar {
                &-options {}
            }
        }
        &--userpanel {
            width: 15%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            gap: 10px;
            &_profile {
                width: auto;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin-right: 10px;
                &-img {
                    width: 50px;
                    height: 50px;
                    border: 1px solid var(--border-color);
                    border-radius: 100%;
                }
                &-login {}
                &-name {
                    width: 120px;
                    // border: 1px solid red;
                }
            }
            &_buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
            }
            &_dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
            }
        }
    }
    &__navbar {
        border: none;
        border-top: 1px solid var(--soft-border-color);
        border-bottom: 1px solid var(--soft-border-color);
        height: 40px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 120px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}