.header {
  width: 100%;
  height: auto;
  transition: var(--quick-fx);
}
.header__topside {
  height: 20px;
  background: var(--dark-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}
.header__topside--links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--smoke-color);
  transition: var(--quick-fx);
}
.header__topside--links:hover {
  color: var(--smoke-hover-color);
}
.header__topside--links_icons {
  height: 90%;
  margin-right: 5px;
  filter: invert(1);
}
.header__main {
  width: auto;
  height: 60px;
  background: var(--smoke-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__main--link {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__main--link_logo {
  width: auto;
  height: 50px;
}
.header__main--search {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__main--search_bar {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--soft-border-color);
  padding: 0px 50px 0px 20px;
  color: var(--dark-bg-color);
}
.header__main--search_button {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-weight: var(--bold-font-weight);
  transition: var(--quick-fx);
  filter: opacity(0.5);
}
.header__main--search_button:hover {
  scale: 1.1;
  filter: invert(1) drop-shadow(0px 0px 5px var(--selected-text-color)) opacity(1);
}
.header__main--pref {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header__main--pref_lightmode {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
  filter: drop-shadow(0 0 5px red);
  background-color: red;
}
.header__main--pref_lightmode-icon {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}
.header__main--pref_langbar {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
}
.header__main--pref_langbar-options {
  background-color: var(--default-bg-color);
}
.header__main--userpanel {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.header__main--userpanel_profile {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}
.header__main--userpanel_profile-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 100%;
}
.header__main--userpanel_profile-name {
  width: 120px;
}
.header__main--userpanel_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
}
.header__main--userpanel_buttons-icon {
  height: 90%;
}
.header__main--userpanel_dropdown {
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0px 15px 60px;
  gap: 15px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 200px;
  height: auto;
  border: 1px solid var(--border-color);
  background-color: var(--default-bg-color);
}
.header__navbar {
  border: none;
  border-top: 1px solid var(--soft-border-color);
  border-bottom: 1px solid var(--soft-border-color);
  height: 40px;
  background-color: var(--smoke-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar button {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-left: 1px solid var(--soft-border-color);
  border-right: 1px solid var(--soft-border-color);
  background-color: transparent;
  cursor: pointer;
  transition: var(--quick-fx);
}
.header__navbar button:hover {
  filter: brightness(1.5);
  background-color: var(--default-bg-color);
  color: red;
}/*# sourceMappingURL=Header.css.map */