// @media only screen and (max-width: 1300px) { // laptop (min 1001 max 1300)
// }
// @media only screen and (max-width: 1000px) { // tablet (min 701 max 1000)
// }
// @media only screen and (max-width: 700px) { // mobile (min 500 max 700)
// }

// @media only screen and (max-width: 1300px) {}
// @media only screen and (max-width: 1000px) {}
// @media only screen and (max-width: 700px) {}
// @media only screen and (max-width: 550px) {}
// @media only screen and (max-width: 450px) {}

.header {
    width: 100%;
    height: auto;
    transition: var(--quick-fx);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: 1300px) {
        height: auto;
    }
    @media only screen and (max-width: 1000px) {
        height: 100%;
    }
    @media only screen and (max-width: 700px) {
        height: 100%;
    }
    &__mobilebtn {
        z-index: 11;
        position: absolute;
        top: 10px;
        right: 10px;
        display: none; // none flex
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: var(--default-bg-color);
        border: 3px solid var(--border-color);
        border-radius: 5px;
        visibility: hidden; // hidden visible
        opacity: 0.0; // 0.0 1.0
        transition: var(--quick-fx);
        @media only screen and (max-width: 1300px) {}
        @media only screen and (max-width: 1000px) {
            display: flex;
            visibility: visible;
            opacity: 1.0;
        }
        @media only screen and (max-width: 700px) {
            display: flex;
            visibility: visible;
            opacity: 1.0;
        }
        &--symbol {
            width: 100%;
            transition: var(--quick-fx);
        }
    }
    &__topside {
        width: 100%;
        // width: 1200px;
        // border: 1px solid red;
        height: 30px;
        background: var(--dark-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid var(--border-color);
        @media only screen and (max-width: 1300px) {
            gap: 50px;
        }
        @media only screen and (max-width: 1000px) {
            display: none;
        }
        @media only screen and (max-width: 700px) {
            display: none;
        }
        &--links {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--only-light-color);
            transition: var(--quick-fx);
            text-transform: uppercase;
            &:hover {
                color: var(--only-negative-color);
                filter: drop-shadow(0 0 2px var(--retrogallery-custom-colorpick));
            }
            &_icons {
                width: 40px;
                height: 40px;
                margin-right: 20px;
                filter: invert(1);
            }
        }
    }
    &__main {
        width: 100%;
        // width: 1200px;
        // border: 1px solid red;
        height: 80px;
        background: var(--header-background);
        // background: var(--blur-glass-bg);
        backdrop-filter: blur(50px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;
        border-bottom: 1px solid var(--border-color);
        @media only screen and (max-width: 1300px) {
            gap: 5px;
        }
        @media only screen and (max-width: 1000px) {
            display: none;
        }
        @media only screen and (max-width: 700px) {
            display: none;
        }
        &--link {
            width: auto;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 1300px) {}
            @media only screen and (max-width: 1000px) {}
            @media only screen and (max-width: 700px) {}
            &_logo {
                width: auto;
                height: 50px;
                filter: invert(1) drop-shadow(0 0 5px rgb(0,0,0));
                @media only screen and (max-width: 1300px) {
                    height: 40px;
                }
                @media only screen and (max-width: 1000px) {}
                @media only screen and (max-width: 700px) {}
            }
        }
        &--search {
            width: auto;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &_bar {
                width: 400px;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: 1px solid var(--soft-border-color);
                padding: 0px 50px 0px 20px; // top right bottom left
                color: var(--dark-color);
                text-transform: capitalize;
                @media only screen and (max-width: 1300px) {
                    width: 350px;
                }
                @media only screen and (max-width: 1000px) {}
                @media only screen and (max-width: 700px) {}
            }
            &_button {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;
                background-color: transparent;
                // border: 1px solid red;
                font-weight: var(--bold-font-weight);
                transition: var(--quick-fx);
                filter: opacity(0.5);
                &:hover {
                    transform: translateY(-45%);
                    scale: 1.1;
                    filter: invert(1) drop-shadow(0px 0px 5px var(--selected-text-color)) opacity(1.0);
                }
            }
        }
        &--pref {
            width: 120px;
            height: 70%;
            // border: 1px solid red;
            border: none;
            border-right: 1px solid var(--only-light-color);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
            @media only screen and (max-width: 1300px) {
                width: 80px;
                padding-right: 10px;
            }
            @media only screen and (max-width: 1000px) {}
            @media only screen and (max-width: 700px) {}
            &_langbar {
                border: none;
                outline: none;
                border-bottom: 1px solid var(--border-color);
                &-options {
                    background-color: var(--default-bg-color);
                }
            }
        }
        &--userpanel {
            width: 250px;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-left: 20px;
            gap: 10px;
            position: relative;
            // margin-left: 20px;
            @media only screen and (max-width: 1300px) {
                width: 200px;
            }
            @media only screen and (max-width: 1000px) {}
            @media only screen and (max-width: 700px) {}
            &_profile {
                width: 150px;
                height: 100%;
                // border: 1px solid red;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-right: 10px;
                column-gap: 10px;
                @media only screen and (max-width: 1300px) {
                    width: 120px;
                }
                @media only screen and (max-width: 1000px) {}
                @media only screen and (max-width: 700px) {}
                &-img {
                    width: 50px;
                    height: 50px;
                    border: 1px solid var(--border-color);
                    border-radius: 100%;
                }
                &-login {
                    color: var(--only-negative-color);
                    text-transform: capitalize;
                }
                &-name {
                    width: 120px;
                    color: var(--only-negative-color);
                    // border: 1px solid red;
                }
            }
            &_dropdown {
                display: flex; // flex | none
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 15px 0px 15px 30px; // top right bottom left
                gap: 15px;
                position: absolute;
                top: 100%;
                left: 0px;
                // transform: translate(-50%, 0%);
                width: 170px;
                height: auto;
                border: 1px solid var(--border-color);
                // background-color: var(--default-bg-color);
                background-color: var(--default-bg-color);
                // backdrop-filter: blur(100px);
                visibility: hidden; // hidden | visible
                opacity: 0.0; // 0.0 | 1.0
                transition: var(--quick-fx);
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                &-buttons {
                    color: var(--default-text-color);
                    background-color: transparent;
                    border: none;
                    font-weight: 600;
                    display: flex;
                    text-transform: capitalize;
                    &__symbols {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                    &:hover {
                        filter: invert(1.0) sepia(75) saturate(25) hue-rotate(150deg) brightness(0.8);
                    }
                }
            }
        }
        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: 1px solid var(--border-color);
            border-radius: var(--button-border-radius);
            position: relative;
            &:not(:last-of-type) {
                margin-right: 10px;
            }
            &_icon {
                width: 90%;
                height: 90%;
            }
            &_counter {
                position: absolute;
                top: 75%;
                left: 110%;
                font-weight: 600;
                color: var(--default-bg-color);
                filter: drop-shadow(0 0 3px var(--default-text-color));
            }
        }
    }
    &__mobilestatic {
        display: none;
        width: 100%;
        height: 90px;
        border: none;
        border-bottom: 1px solid var(--border-color);
        background: var(--header-background);
        align-items: center;
        // justify-content: center;
        gap: 5%;
        // padding-right: 75px;
        @media only screen and (max-width: 1300px) {
            display: none;
        }
        @media only screen and (max-width: 1000px) {
            display: flex;
        }
        @media only screen and (max-width: 700px) {
            display: flex;
        }
        @media only screen and (max-width: 550px) {
            gap: 10%;
        }
        @media only screen and (max-width: 550px) {
            gap: 5%;
        }
        &--link {
            width: auto;
            height: 40%;
            &_logo {
                width: auto;
                height: 100%;
                filter: invert(1);
            }
        }
        &--userpanel {
            width: 30%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            &_profile {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                &-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid var(--border-color);
                }
                &-login {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    // border: 1px solid red;
                    width: 50%;
                    height: 100%;
                    color: var(--only-negative-color);
                    font-size: 16px;
                    text-transform: capitalize;
                    overflow: auto;
                    @media only screen and (max-width: 450px) {
                        display: none;
                    }
                }
                &-name {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    // border: 1px solid red;
                    width: 50%;
                    height: 100%;
                    color: var(--only-negative-color);
                    font-size: 16px;
                    text-transform: capitalize;
                    overflow: auto;
                    @media only screen and (max-width: 450px) {
                        display: none;
                    }
                }
            }
            &_dropdown {
                display: flex;
                position: absolute;
                width: 300px;
                height: 200px; // auto
                background-color: var(--default-bg-color);
                visibility: hidden;
                opacity: 0.0;
                &-buttons {
                    width: 100%;
                    height: auto;
                    &__symbols {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        &--buttons {
            width: auto;
            height: 40%;
            background-color: var(--default-bg-color);
            border: 1px solid var(--border-color);
            border-radius: 5px;
            @media only screen and (max-width: 550px) {
                display: none;
            }
            &_icon {
                height: 100%;
            }
            &_counter {}
        }

    }
    &__mobilemenu {
        z-index: 10;
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: var(--dark-color);
        backdrop-filter: blur(50px);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden; // hidden visible
        opacity: 1.0; // 0.0 1.0
        transition: var(--quick-fx);
        @media only screen and (max-width: 1300px) {
            display: none;
            visibility: hidden;
        }
        @media only screen and (max-width: 1000px) {
            display: none;
            visibility: visible;
        }
        @media only screen and (max-width: 700px) {
            display: none;
            visibility: visible;
        }
        &--search {
            width: 80%;
            height: 60px;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            &_bar {
                width: 80%;
                height: 100%;
                color: var(--only-negative-color);
                text-transform: capitalize;
                background-color: var(--default-bg-color);
                outline: none;
                border: none;
                padding-left: 30px;
                border-top: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                border-left:1px solid var(--border-color);
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
            &_btn {
                width: 60px;
                height: 100%;
                border: 1px solid var(--border-color);
                background-color: var(--retrogallery-custom-colorpick);
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                &:hover {
                    filter: invert(1);
                }
                &-content {
                    width: 30px;
                    height: 30px;
                    filter: invert(1);
                }
            }
        }
        &--links {
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 10%;
            // border: 1px solid red;
            &_items {
                // border: 1px solid red;
                width: 80%;
                height: 12%;
                font-size: 40px;
                color: var(--only-light-color);
                text-transform: uppercase;
                border: none;
                border-bottom: 1px solid var(--soft-border-color);
                overflow:auto;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 700px) {
                    font-size: 26px;
                }
                &:hover {
                    color: var(--only-negative-color);
                }
                &-icons {
                    width: 40px;
                    height: 40px;
                    filter: invert(1);
                    margin-right: 20px;
                }
            }
        }
        &--language {
            width: 80%;
            height: 40px;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            &_info {
                font-size: 26px;
                border: 1px solid var(--only-light-color);
                text-transform: capitalize;
                color: var(--only-light-color);
                width: 550px;
                height: 100%;
                text-align: center;
            }
            &_langbar {
                width: 50px;
                height: 100%;
                border: none;
                outline: none;
                &-options {}
            }
        }
    }
}

#menubtn_bars {
    display: flex;
}
#menubtn_xmark {
    display: none;
}