.header {
  width: 100%;
  height: auto;
  transition: var(--quick-fx);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 1300px) {
  .header {
    height: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    height: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    height: 100%;
  }
}
.header__mobilebtn {
  z-index: 11;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--default-bg-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: var(--quick-fx);
}
@media only screen and (max-width: 1000px) {
  .header__mobilebtn {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 700px) {
  .header__mobilebtn {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
.header__mobilebtn--symbol {
  width: 100%;
  transition: var(--quick-fx);
}
.header__topside {
  width: 100%;
  height: 30px;
  background: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--border-color);
}
@media only screen and (max-width: 1300px) {
  .header__topside {
    gap: 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .header__topside {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .header__topside {
    display: none;
  }
}
.header__topside--links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--only-light-color);
  transition: var(--quick-fx);
  text-transform: uppercase;
}
.header__topside--links:hover {
  color: var(--only-negative-color);
  filter: drop-shadow(0 0 2px var(--retrogallery-custom-colorpick));
}
.header__topside--links_icons {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  filter: invert(1);
}
.header__main {
  width: 100%;
  height: 80px;
  background: var(--header-background);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}
@media only screen and (max-width: 1300px) {
  .header__main {
    gap: 5px;
  }
}
@media only screen and (max-width: 1000px) {
  .header__main {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .header__main {
    display: none;
  }
}
.header__main--link {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__main--link_logo {
  width: auto;
  height: 50px;
  filter: invert(1) drop-shadow(0 0 5px rgb(0, 0, 0));
}
@media only screen and (max-width: 1300px) {
  .header__main--link_logo {
    height: 40px;
  }
}
.header__main--search {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__main--search_bar {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--soft-border-color);
  padding: 0px 50px 0px 20px;
  color: var(--dark-color);
  text-transform: capitalize;
}
@media only screen and (max-width: 1300px) {
  .header__main--search_bar {
    width: 350px;
  }
}
.header__main--search_button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  font-weight: var(--bold-font-weight);
  transition: var(--quick-fx);
  filter: opacity(0.5);
}
.header__main--search_button:hover {
  transform: translateY(-45%);
  scale: 1.1;
  filter: invert(1) drop-shadow(0px 0px 5px var(--selected-text-color)) opacity(1);
}
.header__main--pref {
  width: 120px;
  height: 70%;
  border: none;
  border-right: 1px solid var(--only-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
@media only screen and (max-width: 1300px) {
  .header__main--pref {
    width: 80px;
    padding-right: 10px;
  }
}
.header__main--pref_langbar {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
}
.header__main--pref_langbar-options {
  background-color: var(--default-bg-color);
}
.header__main--userpanel {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
@media only screen and (max-width: 1300px) {
  .header__main--userpanel {
    width: 200px;
  }
}
.header__main--userpanel_profile {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media only screen and (max-width: 1300px) {
  .header__main--userpanel_profile {
    width: 120px;
  }
}
.header__main--userpanel_profile-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 100%;
}
.header__main--userpanel_profile-login {
  color: var(--only-negative-color);
  text-transform: capitalize;
}
.header__main--userpanel_profile-name {
  width: 120px;
  color: var(--only-negative-color);
}
.header__main--userpanel_dropdown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0px 15px 30px;
  gap: 15px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 170px;
  height: auto;
  border: 1px solid var(--border-color);
  background-color: var(--default-bg-color);
  visibility: hidden;
  opacity: 0;
  transition: var(--quick-fx);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header__main--userpanel_dropdown-buttons {
  color: var(--default-text-color);
  background-color: transparent;
  border: none;
  font-weight: 600;
  display: flex;
  text-transform: capitalize;
}
.header__main--userpanel_dropdown-buttons__symbols {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.header__main--userpanel_dropdown-buttons:hover {
  filter: invert(0.6) sepia(150) saturate(50) hue-rotate(-20deg);
}
.header__main--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
  position: relative;
}
.header__main--buttons:not(:last-of-type) {
  margin-right: 10px;
}
.header__main--buttons_icon {
  width: 90%;
  height: 90%;
}
.header__main--buttons_counter {
  position: absolute;
  top: 75%;
  left: 110%;
  font-weight: 600;
  color: var(--default-bg-color);
  filter: drop-shadow(0 0 3px var(--default-text-color));
}
.header__mobilestatic {
  display: none;
  width: 100%;
  height: 90px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  background: var(--header-background);
  align-items: center;
  gap: 5%;
}
@media only screen and (max-width: 1300px) {
  .header__mobilestatic {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .header__mobilestatic {
    display: flex;
  }
}
@media only screen and (max-width: 700px) {
  .header__mobilestatic {
    display: flex;
  }
}
@media only screen and (max-width: 550px) {
  .header__mobilestatic {
    gap: 10%;
  }
}
@media only screen and (max-width: 550px) {
  .header__mobilestatic {
    gap: 5%;
  }
}
.header__mobilestatic--link {
  width: auto;
  height: 40%;
}
.header__mobilestatic--link_logo {
  width: auto;
  height: 100%;
  filter: invert(1);
}
.header__mobilestatic--userpanel {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__mobilestatic--userpanel_profile {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.header__mobilestatic--userpanel_profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
.header__mobilestatic--userpanel_profile-login {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 50%;
  height: 100%;
  color: var(--only-negative-color);
  font-size: 16px;
  text-transform: capitalize;
  overflow: auto;
}
@media only screen and (max-width: 450px) {
  .header__mobilestatic--userpanel_profile-login {
    display: none;
  }
}
.header__mobilestatic--userpanel_profile-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 50%;
  height: 100%;
  color: var(--only-negative-color);
  font-size: 16px;
  text-transform: capitalize;
  overflow: auto;
}
@media only screen and (max-width: 450px) {
  .header__mobilestatic--userpanel_profile-name {
    display: none;
  }
}
.header__mobilestatic--userpanel_dropdown {
  display: flex;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: var(--default-bg-color);
  top: 90px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: var(--quick-fx);
}
.header__mobilestatic--userpanel_dropdown-buttons {
  width: 100%;
  height: auto;
}
.header__mobilestatic--userpanel_dropdown-buttons__symbols {
  width: 20px;
  height: 20px;
}
.header__mobilestatic--buttons {
  width: auto;
  height: 40%;
  background-color: var(--default-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
@media only screen and (max-width: 550px) {
  .header__mobilestatic--buttons {
    display: none;
  }
}
.header__mobilestatic--buttons_icon {
  height: 100%;
}
.header__mobilemenu {
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--dark-color);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 1;
  transition: var(--quick-fx);
}
@media only screen and (max-width: 1300px) {
  .header__mobilemenu {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 1000px) {
  .header__mobilemenu {
    display: none;
    visibility: visible;
  }
}
@media only screen and (max-width: 700px) {
  .header__mobilemenu {
    display: none;
    visibility: visible;
  }
}
.header__mobilemenu--search {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobilemenu--search_bar {
  width: 80%;
  height: 100%;
  color: var(--only-negative-color);
  text-transform: capitalize;
  background-color: var(--default-bg-color);
  outline: none;
  border: none;
  padding-left: 30px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.header__mobilemenu--search_btn {
  width: 60px;
  height: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--retrogallery-custom-colorpick);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.header__mobilemenu--search_btn:hover {
  filter: invert(1);
}
.header__mobilemenu--search_btn-content {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.header__mobilemenu--links {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}
.header__mobilemenu--links_items {
  width: 80%;
  height: 12%;
  font-size: 40px;
  color: var(--only-light-color);
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--soft-border-color);
  overflow: auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .header__mobilemenu--links_items {
    font-size: 26px;
  }
}
.header__mobilemenu--links_items:hover {
  color: var(--only-negative-color);
}
.header__mobilemenu--links_items-icons {
  width: 40px;
  height: 40px;
  filter: invert(1);
  margin-right: 20px;
}
.header__mobilemenu--language {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobilemenu--language_info {
  font-size: 26px;
  border: 1px solid var(--only-light-color);
  text-transform: capitalize;
  color: var(--only-light-color);
  width: 550px;
  height: 100%;
  text-align: center;
}
.header__mobilemenu--language_langbar {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
}
#menubtn_bars {
  display: flex;
}

#menubtn_xmark {
  display: none;
}/*# sourceMappingURL=Header.css.map */