.header {
    width: 100%;
    height: auto;
    &__topside {
        height: 20px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        text-transform: uppercase;
        @media only screen and (max-width: 1199px) { // desktop
            gap: 40px;
        }
        @media only screen and (max-width: 991px) { // tablet
            gap: 30px;
        }
        @media only screen and (max-width: 767px) { // mobile
            gap: 20px;
        }
        @media only screen and (max-width: 575px) { // extra small device
            gap: 10px;
        }
    }
    &__main {
        width: auto;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &--logoplace {
            width: auto;
            height: 100%;
            border: 1px solid red;
            &_logo {
                width: auto;
                height: 50px;
            }
        }
        &--search {
            width: 20%;
            height: 100%;
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            &_bar {}
            &_button {}
        }
        &--userpanel {
            width: 15%;
            height: 100%;
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            &_profile {
                width: auto;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-img {
                    width: auto;
                    height: 100%;
                    border: 1px solid red;
                    border-radius: 100%;
                }
                &-login {}
                &-name {}
            }
            &_buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
            }
        }
        &--pref {
            width: 5%;
            height: 100%;
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            &_lightmode {}
            &_langbar {
                &-options {}
            }
        }
    }
    &__navbar {
        height: 30px;
        background-color: whitesmoke;
    }
}