@mixin df-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: auto;
    background-color: var(--dark-bg-color);
    &__main {
        padding: 20px 0 20px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: auto;
        height: auto;
        &--columns {
            width: 250px;
            // border: 1px solid red;
            padding-left: 50px;
            &:first-of-type {
                width: 350px;
            }
            &_logo {
                width: 80%;
                height: auto;
                filter: invert(1);
            }
            &_description {
                color: var(--smoke-color);
            }
            &_info {
                color: var(--smoke-color);
                margin-left: 5px;
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
            }
            &_header {
                margin: 0px 0px 10px 0px; // top right bottom left
                font-size: 20px;
                color: var(--smoke-color);
                text-transform: uppercase;
            }
            &_list {
                color: var(--smoke-color);
                margin-left: 5px;
                width: fit-content;
                cursor: pointer;
                transition: var(--quick-fx);
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
                &:hover {
                    filter: drop-shadow(0 0 4px var(--selected-text-color));
                    transform: translateX(10px);
                }
            }
        }
    }
    &__bottom {
        @include df-center;
        height: 30px;
        margin: 0 900px 0 0;
        &--rights {
            color: var(--smoke-color);
        }
    }
}