.footer {
  width: 100%;
  height: auto;
  background-color: var(--dark-color);
}
.footer__main {
  padding: 30px 0 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 1300px) {
  .footer__main {
    padding: 20px 0 20px 0;
  }
}
@media only screen and (max-width: 1000px) {
  .footer__main {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 2%;
    row-gap: 40px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .footer__main {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 2%;
    row-gap: 40px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.footer__main--columns {
  width: 210px;
}
@media only screen and (max-width: 1300px) {
  .footer__main--columns {
    width: 150px;
  }
}
@media only screen and (max-width: 700px) {
  .footer__main--columns {
    width: 90%;
  }
}
.footer__main--columns:first-of-type {
  width: 450px;
  padding-right: 50px;
}
@media only screen and (max-width: 1300px) {
  .footer__main--columns:first-of-type {
    width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .footer__main--columns:first-of-type {
    width: 90%;
  }
}
@media only screen and (max-width: 1300px) {
  .footer__main--columns:last-of-type {
    width: 170px;
  }
}
.footer__main--columns_logo {
  width: 80%;
  height: auto;
  filter: invert(1) drop-shadow(0 0 5px var(--retrogallery-custom-colorpick));
}
.footer__main--columns_description {
  color: var(--only-light-color);
}
@media only screen and (max-width: 700px) {
  .footer__main--columns_description {
    font-size: 20px;
  }
}
.footer__main--columns_info {
  color: var(--only-light-color);
  margin-left: 5px;
}
@media only screen and (max-width: 700px) {
  .footer__main--columns_info {
    font-size: 20px;
  }
}
.footer__main--columns_info:not(:last-of-type) {
  margin-bottom: 5px;
}
.footer__main--columns_info-content {
  width: 35px;
  height: 35px;
  filter: invert(1);
  transition: var(--quick-fx);
}
@media only screen and (max-width: 700px) {
  .footer__main--columns_info-content {
    font-size: 20px;
  }
}
.footer__main--columns_info-content:hover {
  scale: 1.05;
  filter: invert(1) sepia(80) saturate(50) hue-rotate(150deg);
}
.footer__main--columns_header {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  color: var(--only-light-color);
  text-transform: uppercase;
}
@media only screen and (max-width: 700px) {
  .footer__main--columns_header {
    font-size: 34px;
    width: 300px;
  }
}
.footer__main--columns_list {
  color: var(--only-light-color);
  margin-left: 5px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: var(--quick-fx);
}
@media only screen and (max-width: 700px) {
  .footer__main--columns_list {
    font-size: 20px;
  }
}
.footer__main--columns_list:not(:last-of-type) {
  margin-bottom: 5px;
}
.footer__main--columns_list:hover {
  color: var(--only-negative-color);
  filter: drop-shadow(0 0 4px var(--retrogallery-custom-colorpick));
  transform: translateX(10px);
}
.footer__bottom {
  width: 100%;
  background-color: var(--only-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 700px;
}
@media only screen and (max-width: 1300px) {
  .footer__bottom {
    gap: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer__bottom {
    gap: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .footer__bottom {
    gap: 50px;
  }
}
@media only screen and (max-width: 570px) {
  .footer__bottom {
    height: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .footer__bottom {
    height: 46px;
  }
}
.footer__bottom--rights {
  color: var(--light-text-color);
}
@media only screen and (max-width: 570px) {
  .footer__bottom--rights {
    font-size: smaller;
  }
}
.footer__bottom--icons {
  display: flex;
  gap: 5px;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .footer__bottom--icons {
    gap: 2px;
    height: 70%;
  }
}
.footer__bottom--icons_content {
  height: 100%;
  filter: invert(1);
}/*# sourceMappingURL=Footer.css.map */