// @media only screen and (max-width: 1300px) {}
// @media only screen and (max-width: 1000px) {}
// @media only screen and (max-width: 700px) {}
// @media only screen and (max-width: 550px) {}
// @media only screen and (max-width: 450px) {}

.home {
    &__container {
        width: 1300px;
        &--sectors {
            &_navbar {
                width: 200px;
                display: flex;
                flex-direction: column;
                &-button {
                    text-transform: uppercase;
                    &__symbol {
                        width: 20px;
                        height: 20px;
                    }
                    &__dropdown {
                        &--btn {}
                    }
                }
            }
            &_carousel {
                &-img {
                    &__content {}
                }
                &-dots {
                    &__dot {}
                }
                &-buttons {
                    &__btn {}
                }
                
            }
            &_headers {}
            &_cards {
                &-image {
                    &__content {}
                }
                &-title {}
                &-price {}
            }
            &_slides {
                &-img {}
                &-title {}
                &-button {}
            }
            &_dots {
                &-dot {}
            }
            &_sliders {
                &-btn {}
            }
            &_blogs {
                &-img {
                    &__content {}
                }
                &-title {}
                &-button {}
            }
        }
    }
}