.supportmore {
    width: 100%;
    height: auto;
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    &__header {}
    &__container {
        width: 1280px;
        height: auto;
        // border: 1px solid red;
        gap: 100px;
        padding: 50px 0 50px 0; // top right bottom left
        display: flex;
        flex-direction: column;
        gap: 50px;
        &--textcontent {}
        &--menus {
            &_btn {}
        }
    }
}