.recovery {
    width: 100%;
    height: auto;
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
    width: 1280px;
        height: auto;
        // border: 1px solid var(--border-color);
        padding: 50px 0 50px 0; // top right bottom left
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--title {
            font-size: 30px;
            text-transform: uppercase;
            width: 90%;
            color: var(--only-negative-color);
            background: linear-gradient(to right, var(--retrogallery-custom-colorpick), var(--retrogallery-custom-colorpick), var(--only-negative-color));
            margin: 0 0 20px 30px; // top right bottom left
            padding: 0 0 0 10px; // top right bottom left
        }
        &--block {
            font-size: 16px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
            &_input {
                font-size: 16px;
                position: relative;
                padding-left: 10px;
                width: 400px;
                height: 40px;
                margin-left: 10px;
            }
            &_submit {
                border: 1px solid var(--border-color);
                background-color: var(--retrogallery-custom-colorpick);
                color: var(--only-negative-color);
                width: 400px;
                height: 40px;
                font-size: 16px;
                border-radius: 4px;
                justify-self: center;
                text-transform: capitalize;
                position: relative;
                transition: var(--quick-fx);
                &:hover {
                    filter: drop-shadow(0 0 5px var(--retrogallery-custom-colorpick));
                    background-color: var(--default-bg-color);
                    color: var(--retrogallery-custom-colorpick);
                }
            }
        }
    }
}
.alert_text {
    position: relative;
    margin-left: 50px;
    color: #00aa00;
    display: block; // block none
}
.something_is_wrong {
    position: relative;
    margin-left: 50px;
    color: #bb0000;
    display: block; // block none
}